.popup-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background: white;
    color: #333;
    border-radius: 16px;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
  }
  
  .popup-content input,
  .popup-content textarea {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .popup-content button {
    background-color: #ffc0cb; /* pastel pink khas kamu */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .popup-content button:hover {
    background-color: #630a18;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
  }
  
  .success-msg {
    color: #4caf50;
    font-weight: bold;
    margin-top: 10px;
    display: none;
  }