body {
  font-family: 'Fredoka';
  background-color: #fffdee;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #ffffffff;
  border-bottom: 5px solid #ffe26f;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand span {
  color: #d47e27ff;
  margin-left: 10px;
  font-size: 1.5rem;
  font-family: 'Fredoka One', 'Comic Sans MS', cursive;
}

.nav-link {
  color: #d47e27ff !important;
  position: relative;
  transition: all 0.3s ease;
  font-family: 'Comic Neue';
  font-weight: bold;
}

.nav-link::after {
  content: '';
  display: block;
  height: 4px;
  width: 0%;
  background-color: #ffe26f;
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar-toggler {
  border: none;
  background-color: #ffe26f;
  padding: 6px 10px;
  border-radius: 8px;
}

.logo {
  height: 40px;
  width: auto;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* ini untuk membuat item di tengah */
  }

  .nav-link::after {
    left: 50%;
    transform: translateX(-50%);
    width: 0;
  }

  .nav-link:hover::after {
    width: calc(100% + 30px); /* atau ganti sesuai selera */
  }
}

.hero {
  padding: 60px 20px;
  background-color: #fffdee;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 50px;
}
.hero .left img {
  width: 100%;
  max-width: 400px;
  animation: float 4s ease-in-out infinite;
}

.hero .right {
  padding: 0 20px; /* jarak kiri kanan biar gak mepet */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.hero .right .mt-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* jarak antar tombol */
  justify-content: center; /* biar di tengah di layar kecil */
}

.hero .title {
  color: #ffb400;
  font-family: 'Fredoka One', 'Comic Sans MS', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}
.hero .subtitle {
  color: #f15a29;
  font-family: 'Fredoka One', 'Comic Sans MS', cursive;
  font-size: 2rem;
  font-weight: bold;
}
.hero .location {
  color: #0f2c4c;
  font-size: 1.2rem;
  font-family: 'Fredoka';
}
.hero .explain {
  color: #0f2c4c;
  font-size: 10 px;
  font-family: 'Fredoka';
}

@media (max-width: 768px) {
  .hero {
    padding: 40px 15px; /* jarak aman */
  }

  .hero .title {
    font-size: 2rem; /* lebih kecil di HP */
    text-align: center;
  }

  .hero .subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero .location,
  .hero .explain {
    text-align: center;
  }
}
